# Ignore everything by default
*

# Track only these files
!.gitignore
!fastProxyV2.py
!fastProxyV3.py
!fastProxyV4.py
!fastProxyV5.py
!fastProxyV6.py
!fastProxyV7.py
!fastProxyV8.py
!psd_remove.py
!highpass.py
!abnormal_peak.py
!plot_all_region_proxies.py
!plot_hemisphere_proxy.py
!validate_roc.py
!correlation_check.py
!path.txt
!adc_plot.py
!binary_plot.py
!fastProxyV5
!fastProxyV7
!include_channels.py
!test.py
!combined_adc_proxy_plot.py
!closed_loop_trigger_update.cpp
# !plot.py
!README.md
