# Ignore everything by default
*

# Track only these files
!.gitignore
!fastProxyV2.py
!fastProxyV3.py
!fastProxyV4.py
!fastProxyV5.py
!fastProxyV6.py
!fastProxyV7.py
!fastProxyV8.py
!psd_remove.py
!highpass.py
!abnormal_peak.py
!test.py
!PO8eExample.cpp
!plot_all_region_proxies.py
!plot_hemisphere_proxy.py
!validate_roc.py
!correlation_check.py
!path.txt
!ADCtoCSV.m
!adc_binary_hemi_plot.py
!delay_calc.py

# !plot.py
!README.md
