# Ignore everything by default; track only listed root files.
*

!.gitignore
!abnormal_peak.py
!adc_binary_overlay_plot.py
!adc_plot.py
!add_trig_label.py
!batch_postStim.py
!binary_plot.py
!delay_calc.py
!environment.yml
!fastProxyV7.py
!fastProxyV8.py
!fastProxyV9.py
!include_channels.py
!path.txt
!per_chan_prox_plot.py
!plot_all_region_proxies.py
!plot_raster.py
!postStim.py
!postStim_fire_skip.py
!psd_remove.py
!README.md
!test.py
